*.iml
.gradle
.idea
.DS_Store
app/build
app/release
build
.externalNativeBuild
.cxx
local.properties
.kotlin
*.jks
*.keystore
keystore.properties
*.hprof
app/.build-numbers.properties
app/apk-archive
*.apk
*.aab